// change btn text color
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    color: $dark;
  }
}

.btn-primary:hover {
  color: $white;
  background-color: $hover-color;
  border-color: $hover-color;
}

.btn-outline-secondary {
  border-width: 2px;
  padding-top: calc(var(--#{$prefix}btn-padding-y) - 1px);
  padding-bottom: calc(var(--#{$prefix}btn-padding-y) - 1px);
  &:hover {
    color: $secondary;
    background-color: $primary;
    border-color: $primary;
  }
}

.btn-close {
  opacity: 0.2;
  &:focus {
    box-shadow: none;
  }
}
