// change btn text color
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    color: $dark;
  }
}

.btn-primary:hover {
  color: $white;
  background-color: $hover-color;
  border-color: $hover-color;
}

.btn-outline-secondary {
  border-width: 2px;
  padding-top: calc(var(--#{$prefix}btn-padding-y) - 1px);
  padding-bottom: calc(var(--#{$prefix}btn-padding-y) - 1px);
  &:hover {
    color: $secondary;
    background-color: $primary;
    border-color: $primary;

    svg {
      fill: $hover-color;
    }
  }

  svg {
    width: g-fn.rem(20px);
    height: g-fn.rem(20px);
    margin-right: g-fn.rem(8px);
    fill: $secondary;
  }
}

.btn-close {
  opacity: 0.2;
  &:focus {
    box-shadow: none;
  }
}

.btn-lg {
  --top: 8px;
  --bottom: 8px;
  &.btn-primary {
    padding-top: var(--top);
    padding-bottom: var(--bottom);
  }
  &.btn-outline-secondary {
    padding-top: calc(var(--top) - 1px);
    padding-bottom: calc(var(--bottom) - 1px);
  }
}

.btn-sm {
  &.btn-outline-secondary {
    border-width: 1px;
    padding: g-fn.rem(6px) g-fn.rem(14px);
    svg {
      width: g-fn.rem(14px);
      height: g-fn.rem(13px);
      margin-top: g-fn.rem(3px);
      margin-right: g-fn.rem(5px);
    }
  }
}

@media screen and (min-width: 992px) {
  .btn-lg {
    --top: 10px;
    --bottom: 10px;
  }
}
