$utilities: map-merge(
  $utilities,
  (
    'custom-font-family': (
      property: font-family,
      class: c-fn,
      values: $custom-font-family,
    ),
    'custom-font-size': (
      responsive: true,
      property: font-size,
      class: c-fs,
      values: $custom-font-sizes,
    ),
    'custom-color': (
      property: color,
      class: c-text,
      values: $custom-colors,
    ),
    'custom-background-color': (
      property: background-color,
      class: c-bg,
      values: $custom-bg-colors,
    ),
  )
);
