// theme-color-variables
$primary: #ffdf65;
$secondary: #858377;
$dark: #636057;

// Body
$body-color: #494846;

// border-radius-variables
$border-radius-pill: 50rem !default;

// Buttons
$btn-border-radius: $border-radius-pill;
$btn-border-radius-sm: $border-radius-pill;
$btn-border-radius-lg: $border-radius-pill;

// custom color
// hover
$hover-color: #ff785e;
