// theme-color-variables
$primary: #ffdf65;
$secondary: #858377;
$dark: #636057;

// custom colors
// dark
$dark2-color: #494846;
// hover
$hover-color: #ff785e;
// input
$input-bg-color: #f7f7f7;
// product
$product-bg-color: #f8f9fa;

// for utilities
$custom-colors: (
  'hover': $hover-color,
  'dark2': $dark2-color,
);
$custom-bg-colors: (
  'input': $input-bg-color,
  'product': $product-bg-color,
);

// Body
$body-color: $dark2-color;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
) !default;

// Components
//
// border-radius-variables
$border-radius-pill: 50rem !default;

// Buttons
$btn-font-weight: 700;
$btn-border-radius: $border-radius-pill;
$btn-border-radius-sm: $border-radius-pill;
$btn-border-radius-lg: $border-radius-pill;

// Forms
$input-bg: $input-bg-color;
$input-border-color: $input-bg-color;
$input-focus-border-color: $input-bg-color;
$input-focus-box-shadow: none;

// Navbar
// navbar-variables
$navbar-nav-link-padding-x: g-fn.rem(24px);
$navbar-brand-margin-end: g-fn.rem(24px);

$navbar-light-color: $dark;
$navbar-light-hover-color: $secondary;

// Badges
// badge-variables
$badge-font-size: g-fn.rem(12px);
$badge-padding-y: g-fn.rem(5px);
$badge-padding-x: g-fn.rem(16px);
$badge-border-radius: g-fn.rem(4px);

// custom
// font-family
$font-family-tc: 'Noto Sans TC', sans-serif;
$font-family-num: 'Baloo Tamma 2', 'Noto Sans TC', sans-serif;

$custom-font-family: (
  tc: $font-family-tc,
  num: $font-family-num,
);

// font-size
$custom-font-sizes: (
  12: g-fn.rem(12px),
  14: g-fn.rem(14px),
  16: g-fn.rem(16px),
  18: g-fn.rem(18px),
  20: g-fn.rem(20px),
  24: g-fn.rem(24px),
  32: g-fn.rem(32px),
);
