// theme-color-variables
$primary: #ffdf65;
$secondary: #858377;
$dark: #636057;

// custom colors
// dark
$dark2-color: #494846;
// hover
$hover-color: #ff785e;
// input
$input-bg-color: #f7f7f7;
// product
$product-bg-color: #f8f9fa;

// for utilities
$custom-colors: (
  'hover': $hover-color,
  'dark2': $dark2-color,
);
$custom-bg-colors: (
  'input': $input-bg-color,
  'product': $product-bg-color,
);

// Body
$body-color: $dark2-color;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1120px,
  xxl: 1140px,
) !default;

// Components
//
// border-radius-variables
$border-radius-pill: 50rem !default;

// Buttons
$btn-font-weight: 700;
$btn-border-radius: $border-radius-pill;
$btn-border-radius-sm: $border-radius-pill;
$btn-border-radius-lg: $border-radius-pill;

// Forms
$input-bg: $input-bg-color;
$input-border-color: $input-bg-color;
$input-focus-border-color: $input-bg-color;
$input-focus-box-shadow: none;

$input-btn-padding-x: 16px;
$input-placeholder-color: #999999;

$form-select-color: #999999;
$form-select-bg-size: 16px 16px;
$form-select-indicator-color: #373a3c;
$form-select-indicator: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='#{$form-select-indicator-color}' xmlns='http://www.w3.org/2000/svg'><path d='M6.07615 9.38268C6.23093 9.75636 6.59557 10 7.00003 10H17C17.4045 10 17.7691 9.75636 17.9239 9.38268C18.0787 9.00901 17.9931 8.57889 17.7071 8.29289L12.7071 3.29289C12.3166 2.90237 11.6834 2.90237 11.2929 3.29289L6.29292 8.29289C6.00692 8.57889 5.92137 9.00901 6.07615 9.38268Z'/><path d='M6.07615 14.6173C6.23093 14.2436 6.59557 14 7.00003 14H17C17.4045 14 17.7691 14.2436 17.9239 14.6173C18.0787 14.991 17.9931 15.4211 17.7071 15.7071L12.7071 20.7071C12.3166 21.0976 11.6834 21.0976 11.2929 20.7071L6.29292 15.7071C6.00692 15.4211 5.92137 14.991 6.07615 14.6173Z'/></svg>");
$form-select-focus-box-shadow: none;

// Navs
// nav-variables
$nav-underline-gap: 0px;
$nav-underline-link-active-color: $dark;

// Navbar
// navbar-variables
$navbar-nav-link-padding-x: g-fn.rem(24px);
$navbar-brand-margin-end: g-fn.rem(24px);

$navbar-light-color: $dark;
$navbar-light-hover-color: $secondary;

// Badges
// badge-variables
$badge-font-size: g-fn.rem(12px);
$badge-padding-y: g-fn.rem(5px);
$badge-padding-x: g-fn.rem(16px);
$badge-border-radius: g-fn.rem(4px);

// Tooltips
// tooltip-variables
$tooltip-color: $primary;
$tooltip-bg: $dark2-color;
$tooltip-border-radius: g-fn.rem(4px);
$tooltip-opacity: 1;
$tooltip-padding-y: g-fn.rem(4px);
$tooltip-padding-x: g-fn.rem(12px);
$tooltip-arrow-width: g-fn.rem(8px);
$tooltip-arrow-height: g-fn.rem(6px);

// Cards
// card-variables
$card-border-color: #e8e8db;
$card-border-radius: g-fn.rem(8px);

// Accordion
// accordion-variables
$accordion-color: $secondary;
$accordion-bg: #fff;

$accordion-border-color: #e5e5e5;
$accordion-border-radius: g-fn.rem(4px);

$accordion-body-padding-y: g-fn.rem(16px);
$accordion-body-padding-x: g-fn.rem(16px);

$accordion-button-padding-y: g-fn.rem(12px);
$accordion-button-padding-x: g-fn.rem(20px);
$accordion-button-color: $dark2-color;
$accordion-button-bg: #fff;
$accordion-button-active-color: $accordion-button-color;
$accordion-button-active-bg: $accordion-button-bg;

$accordion-icon-width: 1.25rem !default;
$accordion-icon-color: $dark2-color;
$accordion-icon-active-color: #53524f;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none' stroke='#{$accordion-icon-color}' stroke-width='1.6'><path d='m5 7 L10 12 L15 7'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none' stroke='#{$accordion-icon-active-color}' stroke-width='1.6'><path d='m5 7 L10 12 L15 7'/></svg>");

// custom
// font-family
$font-family-tc: 'Noto Sans TC', sans-serif;
$font-family-num: 'Baloo Tamma 2', 'Noto Sans TC', sans-serif;

$custom-font-family: (
  tc: $font-family-tc,
  num: $font-family-num,
);

// font-size
$custom-font-sizes: (
  12: g-fn.rem(12px),
  14: g-fn.rem(14px),
  16: g-fn.rem(16px),
  18: g-fn.rem(18px),
  20: g-fn.rem(20px),
  24: g-fn.rem(24px),
  32: g-fn.rem(32px),
);
